@media only screen and (min-width: 1300px)  {

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1290px!important;
    }
}
body {
  overflow-y: scroll; 
  overflow-x: hidden; 
}
body, h2, p, ul{
    margin: 0;
    padding: 0;
    font-family: 'SolaimanLipi', Arial, sans-serif !important;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
a h2:hover {
	color: red;
}
section {
	margin: 40px 0;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
  .topMenuBar ul li {
    display: inline-block;
    padding: 14px 6px;
    transition: 400ms;
  }
  .topMenuBar ul li a {
	color: #f0e7e7;
	font-size: 17px;
	font-weight: bold;
}
  .topBar {
    background: #076c47;
  }

  .topMenuBar ul li:hover {
    background: #0000001f;
  }
  .topMenuBar ul li:hover a {
    color: #fff;
  }
  
.topLeft p.date {
    padding: 10px 7px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}
form.example input[type="text"] {
	padding: 8px;
	float: left;
	height: 34px;
	width: 80%;
	border: none;
}
.topSearch {
    padding: 10px 0;
  }
  /* Style the submit button */
  form.example button {
	float: left;
	width: 16%;
	padding: 4px;
	background: #06a657;
	color: white;
	font-size: 17px;
	cursor: pointer;
	height: 34px;
	border: none;
	transition: 400ms;
}
textarea:focus, input:focus, button:focus{
    outline: none;
}
form.example button:hover {
	background: #0000001f;
}
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .header_logo_area {
	padding: 30px 0;
}

/*Css for Menu*/

.mobile_bar, .mobile_logo, .mobile_manu {
  display: none;
}
.bottom_header {
  position: sticky;
  top: 0;
  background: #076c47;
  box-shadow: 0px 0 1px 0 black;
  z-index: 999;
}
.manu_area {
  margin: 0;
}
.manu_area ul li {
  display: inline-block;
  padding: 11px 7px;
  cursor: pointer;
  margin-right: 2px;
  position: relative;
  transition: 0.5s;
}
.manu_area ul li a {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.search_icon {
  color: white;
  margin-top: 12px;
  text-align: right;
  cursor: pointer;
  font-size: 18px;
}
.languge {
  padding: 2px 8px !important;
  background: black;
}
.manu_area ul li:hover, .manu_area ul li.active {
  background: #0000001f;
}
.manu_area ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  width: 200%;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  visibility: hidden;
  opacity: 0;
  transition: 600ms;
}
.manu_area ul li ul li {
  display: block;
  padding: 4px 0;
  padding-left: 12px;
  margin: 0;
  transition: 0.3s;
}
.manu_area ul li ul li a {
  color: black;
  transition: 0.3s;
}
.manu_area ul li.active {
  margin-right: 15px;
}
.manu_area>ul>li>ul>li:hover {
  background: #397300;
}
.manu_area>ul>li>ul>li:hover a {
  color: white;
}
.manu_area>ul>li:hover>ul {
  visibility: visible;
  opacity: 1;
}
.manu_area>ul>li span svg {
  transition: 0.4s;
}
.manu_area>ul>li:hover span svg {
  transform: rotate(180deg);
}
.all_division {
  position: absolute;
  background: white;
  width: 100%;
  left: 0;
  top: 100%;
  padding: 20px 0;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.all_division_parent {
  position: unset !important;
}
.single_division p a span i {
  font-size: 12px;
  margin-right: 2px;
  transform: rotate(0deg) !important;
}
.single_division p a {
  color: black !important;
  transition: 0.3s !important;
}
.single_division p a:hover {
	color: #076C47 !important;
}
.all_division_parent:hover .all_division {
  visibility: visible;
  opacity: 1;
}


.sticky_nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	animation: fadeInDown 800ms;
}

/*End Css for Menu*/

.lead_news a h2 {
	font-size: 32px;
	color: red;
	padding: 13px 0;
	line-height: 1.3;
}
.news_exerpt {
	font-size: 18px;
	line-height: 1.5;
}
.sub_lead .row {
	margin-bottom: 16px;
	border-bottom: 1px solid #ccc;
}
.sub_lead .row:last-child {
	border-bottom: none;
}
.sub_lead_title a h2 {
	font-size: 18px;
	line-height: 1.5;
}
  
.feature_videos .video_title a h2 {
    font-size: 17px;
    line-height: 1.5;
  }
  
  .feature_videos .video_icon {
    width: 20%;
    float: left;
    text-align: center;
    color: red;
    font-size: 27px;
  }
  
  .feature_videos .video_title {
    width: 80%;
    float: left;
    padding-left: 4px;
  }
  
  .feature_videos {
    margin-top: 7px;
  }
  .single_feature_news a h2 {
	font-size: 20px;
	padding: 5px 0;
	line-height: 1.4;
}
.single_feature_news p {
	font-size: 17px;
	line-height: 1.5;
}

.single_feature_news {
    margin-bottom: 25px;
  }
  
  .single_feature_news.card .card-body {
    padding: 7px !important;
  }

  .read_more {
	background: #056033;
	margin: 10px auto 1px;
	display: block;
	width: 135px;
	font-size: 17px;
	font-weight: normal;
	font-family: 'SolaimanLipi', Arial, sans-serif;
	border: none;
	transition: 600ms;
}
.btn.btn-success.read_more:hover {
	background: red;
}
#myTab {
	border-bottom: none;
}
.nav-tabs .nav-link.active {
	background: #056033;
    color: #fff;
	border-radius: 0;
}
.nav-tabs .nav-link {
	border: none !important;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	background: yellowgreen;
	border-radius: 0;
}
.latest_news_img {
    width: 30%;
    float: left;
  }
  
  .latest_news_title {
    width: 67%;
    float: left;
    padding-left: 3%;
  }
  
  .latest_news_title a h2 {
    font-size: 17px!important;
    line-height: 1.5;
  }
  
  .latest_news_single_item, .latest_news_items {
    margin: 10px 0;
    display: block;
    border-bottom: 1px solid #ccc;
    clear: both;
    overflow: hidden;
  }
  
  .latest_news_single_item:last-child, .latest_news_items:last-child {
    border-bottom: none;
  }
  .category_title {
	margin-bottom: 10px;
	padding: 10px 0 4px 5px;
	border-bottom: 4px solid #076c47;
}
.category_title a h2 {
	font-size: 30px;
	font-weight: bold;
	color: #056033;
}
.category_title a h2:hover {
	color: red;
}
.category_small_items .row:hover {
	background: #eceaea45;
}
  .category_content a h2 {
	font-size: 28px;
	padding: 10px 0;
	line-height: 1.5;
}
.category_content p {
	font-size: 18px;
	line-height: 1.5;
}
.category_content .read_more { display: inline-block;}

.category_small_items .row {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    transition: 500ms;
  }
  
  .category_small_items .row:last-child {
    border-bottom: none;
  }
  .category_posts .card-body p {
    font-size: 13px;
    padding: 0 3px;
  }

  .category_posts .card-body p a, .post_date a {
    color: #545959;
  }
  .category_posts .card-body p a:hover, .post_date a:hover {
    color: red;
  }
  .box_title {
	background: #056033;
	transition: 500ms;
}
.box_title a h2 {
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 10px 0;
}
.box_news_img {
    width: 30%;
    float: left;
  }
  
  .box_news_title {
    width: 67%;
    float: left;
    padding-left: 3%;
  }
  
  .box_news_title a h2 {
    font-size: 17px;
    line-height: 1.5;
  }
  
  .box_news_single_item {
    margin: 10px 0;
    display: block;
    border-bottom: 1px solid #ccc;
    clear: both;
    overflow: hidden;
  }
  
  .box_news_single_item:last-child {
    border-bottom: none;
  }
  .box_title:hover {
	background: red;
}
.two_colum_news_item .category_content a h2, .four_colum_news_item .category_content a h2{
	font-size: 20px;
}
.section_broad_news .category_content a h2 {
	font-size: 22px;
}
.section_broad_news {
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.feature_small_box_news .img_box {
	width: 25%;
	float: left;
	padding-right: 2%;
}
.feature_small_box_title {
	width: 73%;
	float: left;
}
.feature_small_box_title a h2 {
	font-size: 19px;
}
.feature_small_box_news {
	display: block;
	margin-bottom: 10px;
	overflow: hidden;
}
.category_news_section_three .box_title a h2 {
	color: #056033;
	text-align: left;
	border-bottom: 4px solid green;
	padding: 6px 0;
}
.category_news_section_three .box_title {
	background: none;
}
.category_news_section_three .box_title a h2:hover {
	color: red;
}
.category_news_tabs {
	background: green url(img/green-texture.jpg);
	padding: 50px 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.section_title {
	text-align: center;
	margin-bottom: 30px;
}
.section_title .title_wrapper a h2 {
	font-size: 40px;
	font-weight: bold;
	color: #000;
}
section.category_news_tabs .nav-pills .nav-link.active {
	background: #076c47;
	border: none;
	color: #fff;
}
.category_news_tabs #pills-tab {
	background: aliceblue;
}
section.category_news_tabs .nav-pills .nav-link {
	border: none;
	border-radius: 0;
	background: aliceblue;
	color: #000;
	font-size: 19px;
    font-weight: bold;
}
.sports_box.card {
	padding: 0;
	border: none;
	border-radius: 0;
	background: #61ea9e54;
}
.category_content.card-body {
	padding: 2px 3px;
}
.category_content.card-body a h2 {
	padding: 5px 0;
	font-size: 21px;
}
.sports_box .category_content.card-body a h2:hover {
	color: #fff;
}
.category_card_news_item .card-header {
	padding: 0;
	margin: 0;
	text-align: center;
}
.category_card_news_item .card-header .card-title {
	margin: 0;
	padding: 5px 0;
	color: #FF0000;
	font-weight: bold;
  font-size: 30px;
}
.category_card_news_item .card-body {
	padding: 0;
	margin-top: 5px;
}
.category_card_news_item .top_news{margin-bottom: 7px;}
.category_card_news_item .top_news a h2 {
	padding: 5px;
	font-size: 23px;
}
.category_card_news_item .list-group-item {
	margin: 0;
	padding: 5px;
}
.category_card_news_item .list-group-item a h2 {
	font-size: 18px;
	line-height: 1.4;
}
.category_card_news_item .card-footer {
	padding: 3px 0;
	text-align: center;
}
.category_card_news_item .card-footer a h2 {
	font-size: 25px;
	font-weight: bold;
	color: #056033;
}
.category_card_news_item .card-footer a h2:hover{color: #FF0000;}
.category_card_news_item .card-header .card-title:hover {
	color: #056033;
}
.category_card_news_item .list-group-item:hover {
	background: #fbf6f657;
}

.category_card_news_item {
  margin-bottom: 20px;
}

.category_card_news_item .card {
  border-radius: 0;
}
.author_details h2 {
	font-size: 25px;
	padding: 10px 0;
	font-weight: bold;
}
.author_details .devider {
	color: #076C47;
	font-weight: bold;
}
.reporter {
	font-size: 18px;
	color: red;
}
.author_details p {
	font-size: 17px;
	line-height: 1.5;
	text-align: justify;
}
.col_title h2 {
	font-size: 23px;
	font-weight: bold;
	padding-bottom: 7px;
	border-bottom: 5px solid #076C47;
}
.post_box a h2 {
	font-size: 22px;
	line-height: 1.5;
	color: #076C47;
	font-weight: bold;
}
.post_box a h2:hover {
	color: red;
}
.post_escerpt {
	font-size: 18px;
	text-align: justify;
	line-height: 1.5;
}
.post_box .read_more {
	margin: 10px 0;
}
.author_posts .row {
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
.author_posts .row:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
.about_news_page {
	background: #076c47 url(img/green-texture.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 120px 0px;
	text-align: center;
	margin-top: 4px;
}
.about_title h2 {
	font-size: 53px;
	font-weight: bold;
	color: #fff;
	text-shadow: 2px 2px black;
}
.about_page_post p {
	font-size: 18px;
	line-height: 1.7;
}
.contact_form input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact_form input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact_form input[type=submit]:hover {
  background-color: #45a049;
}
.contact_details {
	margin-top: 30px;
	width: 70%;
	margin-left: 17%;
}
.contact_details h2 {
	font-size: 2à§¦px;
}
.contact_details p {
	font-size: 18px;
}
.contact_details p span {
	font-size: 25px;
	color: #076C47;
}
.contact_details p span {
	font-size: 25px;
	color: #076C47;
	padding-right: 6px;
}
.topFooter {
	background: #aca2a2 url(img/footer-bg.png);
	display: block;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.topFooterBg {
	width: 100%;
	height: 100%;
	background: #090202b2;
	overflow: hidden;
	padding: 50px 0;
}
.footerTitle {
	font-size: 25px;
	padding-bottom: 14px;
	color: #dfdfb9;
}
span.footerTitleBorder{
	width: 21%;
	display: block;
	border: 3px solid #b3b0b0;
	margin-bottom: 5px;
}

.footerAbout {
	font-size: 17px;
	color: #fff;
	line-height: 1.5;
}
.footerLinks ul li {
	padding: 6px 0;
	border-bottom: 1px solid #ccc;
}
.footerLinks ul li a {
	font-size: 17px;
	text-transform: capitalize;
	color: #ccc;
    transition: 50ms;
}
.footerLinks ul li a:hover {
	color: #fff;
}
.bottomFooter {
    background: #076C47;
    padding: 10px;
    display: block;
    overflow: hidden;
    clear: both;
}
.footerTags ul li {
	display: inline-block;
	background: #076C47;
	padding: 7px;
	margin: 3px 0;
  transition: 800ms;
}
.footerTags ul li:hover {
	background: #056033;
  cursor: pointer;
}
.footerTags ul li:hover a {
	color: #fff;
}

.footerTags ul li a {
	color: #000;
	font-size: 17px;
	text-transform: capitalize;
	font-weight: bold;
}
.developerCredit {
	text-align: right;
	color: #fff;
}
.developerCredit a {
    text-decoration: none;
    color: #000;
}
.bottomFooter p {
	color: azure;
}

.back-to-top {
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 99;
}
.back-to-top {
	position: fixed;
	right: 20px;
	bottom: 30px;
	z-index: 99;
	background: #076C47;
	padding: 9px 15px;
	color: #fff;
	font-size: 17px;
	cursor: pointer;
} 


/* Css for single page */
.bredcumb_sec {
	margin: 10px 0 !important;
}
.single_news_page {
	margin: 12px 0 40px 0;
}
.author_img {
	width: 50px;
	height: 50px;
}
.single_bredcumb ul li a:hover, .author_name a:hover {
	color: #076C47;
}
.single_bredcumb ul li {
	display: inline-block;
}
.single_bredcumb ul li span {
	padding-left: 5px;
	color: red;
}
.single_news_title {
	padding: 7px 0;
}
.single_bredcumb {
	background: #f4f1f1;
	padding: 8px;
}
.single_bredcumb ul li:last-child span {
	display: none;
}
.single_bredcumb ul li a {
	font-weight: bold;
}
.category_news_post a h2 {
	font-size: 25px;
	padding: 10px 0;
	color: red;
}
.category_news_post p {
	font-size: 18px;
	text-align: justify;
	line-height: 1.6;
}
.category_news_post .read_more {
	margin: 10px 1px;
}
.social_share_buttons ul li {
	display: inline-block;
}
.social_share_buttons ul li a {
	font-size: 35px;
	color: #076C47;
}
.social_share_buttons ul li span {
	font-size: 18px;
	padding-right: 10px;
}
.author_img {
	width: 15%;
	height: auto;
	float: left;
}
.author_name {
	float: left;
	padding-top: 7px;
	padding-left: 15px;
	width: 85%;
}
.news_date {
	display: block;
	clear: both;
	padding: 5px 0;
}
.news_date p {
	font-size: 15px;
}
.news_post p {
	padding: 10px 0;
	text-align: justify;
	font-size: 19px;
	line-height: 1.7;
}
.related_posts .card, .category_posts .card {border-radius: 0; margin-bottom: 20px;}
.related_posts .card-body, .category_posts .card-body {
	padding: 0;
	margin: 0;
	border-radius: 0;
}
.related_posts .card-body h2, .category_posts .card-body h2 {
	padding: 7px 5px;
	font-size: 18px;
	line-height: 1.5;
}
.related_posts .section_title {
	font-size: 24px;
	margin-bottom: 15px;
}
.category_big_news {
	margin-bottom: 40px;
}

/* Css for Contact us page */
.siteBody.contactBody {
    margin: 10px 0px;
    background-image: url(img/contact-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.formPart {
    width: 48%;
    float: left;
    box-shadow: 0 0 4px #ffd;
    margin: 10px;
    padding: 3px;
    background: #00000061;
}
.formTitle {
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px black;
}
.inputWrapper {
    display: block;
    margin: 5px 0;
    padding: 5px;
}
.inputWrapper label {
    display: block;
    font-size: 20px;
    padding: 5px 4px;
    color: #fff;
}
.inputWrapper input {
    width: 95%;
    padding: 10px;
    border: none;
    display: block;
}
.inputWrapper textarea {
    width: 98%;
    border: none;
    display: block;
}
.contactDetails {
    width: 45%;
    float: left;
    box-shadow: 0 0 6px #ffd;
    margin: 10px;
    padding: 15px;
}
.contactInfo {
    margin-top: 20%;
    margin-bottom: 31%;
    text-align: center;
    background: #00000038;
    padding: 10px;
}
.contactInfo h2 {
    font-size: 30px;
    color: #fff;
    text-shadow: 0 0 3px black;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.contactInfo p {
    line-height: 1.5;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
}
.google_map h2 {
    font-size: 33px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 3px solid #ddd;
    margin-bottom: 10px;
}

.single_news_title {
    padding: 7px 0;
}